.logo {
    display: flex;
    align-items: flex-end;
    font-family: Calibri;

    .logo__picture {
        width: 75px;
        margin-right: 12px;
    }

    .logo__caption{
        font-size: 28px;
        line-height: 0.7;
        margin-bottom: 4px;

        .item__mini-title{
            margin-bottom: 5px;
            font-size: 20px;
        }
    }
}
