.logo {
    display: flex;
    font-size: 30px;
    .logo__picture {
        width: 90px;
        margin-right: 10px;
    }
    .logo__caption{
        .item__mini-title{
            font-size: 22px;
        }
    }
}