.rating-information{
    display: flex;
    padding-right: 40px;
    padding-top: 20px;
    justify-content: flex-end;

    .rating-information__block{
        margin-left: 20px;

        .item__icon{
            color:rgb(61, 61, 61);
            font-size: 25px;
            margin: 5px;
        }
    
        .item__count{
            margin-top: 5px;
        }
    }
}