.rating-information{
    display: flex;
    justify-content: flex-end;

    .rating-information__block{
        margin-left: 20px;
        text-align: center;

        .item__icon{
            color:rgb(61, 61, 61);
            font-size: 25px;
        }
    
        .item__count{
            margin-top: 5px;
        }
    }
}