@white: #ffffff;
@gray: #8d8d8d;

.without-background {
    background: none;
    border:none;
    color: @white;
}
.search-container{ 
    flex-grow: 1;
    text-align: end;

    .search-container__searching-line{
        width: 250px;
        position: relative;
        margin-right: 15px;
        .without-background;
        border-bottom: 1px @white solid;
        font-size: 17px;
        outline: none;
        transition: .4s linear;
        .placeholder(@white);

        &:focus {
            width: 500px;
            .placeholder(@gray);
        }
    }

    .search-container__search-button {
        vertical-align: bottom;
        .without-background;
        font-size: 22px;
        cursor: pointer;
    }
}

.placeholder(@color) {
    &::-webkit-input-placeholder {
        color: @color;
    }

    &:-moz-placeholder {
        color: @color;
    }
}