@mobile: ~"(max-width: 600px)";

.video-container {
    background: #ffffff;
    position: relative;
    max-width: 400px;
    margin:40px 10px 0;

    .video-container__description-container{
        padding: 25px;
        box-sizing: content-box;

        @media @mobile {
            padding: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .video-description__title{
            font-size: 20px;
            max-width: 420px;
            margin-bottom: 20px;

            @media @mobile {
                margin-bottom: 0;
            }
        }

        .video-description__description{
            color:#4e4e4e;
            background: none;
            top: 0;
            word-wrap: break-word;
            width: 100%;
            left: 0;
            height: 79%;
           

            @media @mobile {
                position: absolute;
                font-size: 20px;
                height: 73%;
                word-wrap: break-word;
                padding: 50px 20px;
                box-sizing: border-box;
                background: #2f2f2f;
                opacity: 0.8;
                color: white;
            }
        }
        .video-description__close-information-button {
            display: none;

            @media @mobile {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                flex-grow: 1;
                background: none;
                border: none;
                font-size: 18px;
                color: #fff9f9;
                cursor: pointer;
            }

        }
        .video-description__open-information-button {
            display: none;

            @media @mobile {
                flex-grow: 1;
                background: none;
                display: block;
                border: none;
                transform: rotate(90deg);
                font-size: 18px;
                color: #565656;
                cursor: pointer;
            }
        }

    }

    .video-container__preview {
        width: 100%;
    }

}
