.video-container {
    width: 30%;

    .video-container__description-container{
        background: #ffffff;
        padding: 20px;
        width: 100%;

        .video-description__title{
            font-size: 20px;
            margin-bottom: 10px;
        }

        .video-description__description{
            color:#4e4e4e;
            font-size: 17px;
        }
    }

    .video-container__preview {
        // width: 300px;
    }

    .video-description__date-publication{
        color: #464646;
    }
}
