@mobile: ~"(max-width: 600px)";

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;

    .video-list__video{
        margin-top:110px;
    }
}
